.card {
  background: rgb(177, 172, 185);
  border-radius: 0.25em;
  overflow: hidden;
  cursor: pointer;
  box-shadow:
    0 13px 27px -5px rgba(255, 255, 255, 0.25),
    0 8px 16px -8px hsla(255, 255, 255, 0.3),
    0 -6px 16px -6px hsla(255, 255, 255, 0.03);
  transition: all ease 200ms;
  color: whitesmoke;
}

.card:hover {
  transform: scale(1.03);
  box-shadow:
    0 13px 40px -5px hsla(255, 255, 255, 0.12),
    0 8px 32px -8px hsla(255, 255, 255, 0.14),
    0 -6px 32px -6px hsla(255, 255, 255, 0.02);
}
