@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* can now reference my font */
body {
  font-family: 'Poppins', 'Inter', sans-serif !important;
  font-weight: 500 !important;
  background-color: #171321 !important;
  color: #FFFFFF !important;
}